// Across Project Variables 
$app-color: #6495ed;
$section-margin: 30vh;
// Section: Projects
$project-width: 200px;



// front size
$large: calc(20px + 1.6vw);
$medium: calc(15px + 1vw);
$small: calc(10px + 1vw);

