// Across Project Variables 
$app-color: #6495ed;

// Section: Projects
$project-width: 200px;
$project-margin: 20px;
$projects-per-row: 3;

// front size
$small: 1.25rem;
$medium: 1.875rem;
$large: 3.75rem

