@import "utilities/variables";

#about {
  padding-top: 200px;
  padding-bottom: 300px;
  text-align: left;
}

.about-title {
  margin-bottom: 20px;
  font-size: 2rem;
  white-space: nowrap;
  color: $app-color;
}

.about-text {
  color: white;
}

.about-pro {
  color: $app-color;
}

.about-link {
  color: $app-color;
}

#about-profile {
  align-content: center;
}

.badge-pill {
  margin-right: 2px;
  margin-bottom: 1rem;
}

.profile {
  height: 200px;
}

.profile-animate {
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation: bounce-profile 2s linear;
  -webkit-animation: bounce-profile 2s linear;
}

@keyframes bounce-profile {
  0% {
      transform: scale(1,1) translateY(0px);
  }
  10% {
      transform: scale(1.1,0.9) translateY(0px);
  }
  30% {
      transform: scale(0.9,1.1) translateY(-10px);
  }
  45% {
      transform: scale(1,1) translateY(0px);
  }
  50% {
      transform: scale(0.95,1) translateY(-2px);
  }
  100% {
      transform: scale(1,1) translateY(0px);
  }
}

@-webkit-keyframes bounce-profile {
  0% {
      transform: scale(1,1) translateY(0px);
  }
  10% {
      transform: scale(1.1,0.9) translateY(0px);
  }
  30% {
      transform: scale(0.9,1.1) translateY(-10px);
  }
  45% {
      transform: scale(1,1) translateY(0px);
  }
  50% {
      transform: scale(0.95,1) translateY(-2px);
  }
  100% {
      transform: scale(1,1) translateY(0px);
  }
}

