@import "utilities/variables";
@import "bootstrap";

#about {
  padding-top: 10.48vh;
  padding-bottom: 10.48vh;
  text-align: left;
}

.about-title {
  margin-bottom: 20px;
  font-size: $large;
  white-space: nowrap;
  color: $app-color;
}

.about-text {
  color: white;
  font-size: $medium;
}

.about-pro {
  color: $app-color;
  font-size: $medium;
}

.about-link {
  color: $app-color;
}

.badge-tech {
  margin-right: 5px;
  margin-bottom: 1rem;
  border: 1px solid $app-color;
  background-color: transparent !important;
  color: white !important;
  font-size: $medium !important;
}

.profile-link {
  outline: none;
}

