@import "utilities/variables";
@import "bootstrap";

#about {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: left;
}

.about-title {
  margin-bottom: 20px;
  font-size: 60px;
  white-space: nowrap;
  color: $app-color;
}

.about-text {
  color: white;
  font-size: $medium;
}

.about-pro {
  color: $app-color;
  font-size: $medium;
}

.about-link {
  color: $app-color;
}

#about-profile {
  align-content: center;
}

.badge-tech {
  margin-right: 5px;
  margin-bottom: 1rem;
  border: 1px solid $app-color;
  background-color: transparent !important;
  color: white !important;
  font-size: $medium !important;
}

.profile {
  width: 400px;
}

.profile-link {
  outline: none;
}

.profile-animate {
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation: bounce-profile 1.5s linear;
  -webkit-animation: bounce-profile 1.5s linear;
}

@keyframes bounce-profile {
  0% {
      transform: scale(1,1) translateY(0px);
  }
  10% {
      transform: scale(1,0.9) translateY(0px);
  }
  30% {
      transform: scale(0.9,1.1) translateY(-10px);
  }
  45% {
      transform: scale(1,1) translateY(0px);
  }
  50% {
      transform: scale(0.95,1) translateY(-2px);
  }
  100% {
      transform: scale(1,1) translateY(0px);
  }
}

@-webkit-keyframes bounce-profile {
  0% {
      transform: scale(1,1) translateY(0px);
  }
  10% {
      transform: scale(1.1,0.9) translateY(0px);
  }
  30% {
      transform: scale(0.9,1.1) translateY(-10px);
  }
  45% {
      transform: scale(1,1) translateY(0px);
  }
  50% {
      transform: scale(0.95,1) translateY(-2px);
  }
  100% {
      transform: scale(1,1) translateY(0px);
  }
}

