@import "utilities/variables";
.app {
  text-align: center;
  padding: 10px;
  background-color: #3e4451;
}

.construction {
  color:$app-color;
}

li::marker {
  color: $app-color;
}

#contact-btn {
  background-color: transparent;
  border: 1px solid white;
  color: $app-color;


  &:hover {
    color: white;
    border: 1px solid $app-color;
  }
}

#portfolio-btn {
  @extend #contact-btn;
  margin-left: 0.5rem;
}