@import "utilities/variables";

#contact {
  padding-top: 200px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;

  .contact-container {
    text-align: left;

    .contact-title {
      font-size: 2rem;
      color: $app-color;
    }
  
    .contact-description {
      color: white;
    }
  }
}



