@import "utilities/variables";

.welcome-header {
  padding-top: 300px;
  padding-bottom: 300px;
}

.text-left {
  text-align: left;
}

.welcome-title {
  white-space: break-word;
  margin-bottom: 5px;
  color: white;
}

#welcome-intro {
  color:$app-color;
  font-size: 30px;
}

#welcome-name {
  font-size: 60px;
}

#welcome-slog {
  color:$app-color;
  font-size: 60px;
}

#welcome-descr {
  color: white;
  font-size: 30px;
}