#navbar {
  transition: top 0.5s;
  background-color: #282c34;
  margin: 15px;
}
  

/* For the social links */
.icon-container {
  display: inline-block;
}

.icon-container 
.social-icon {
  color: #FFFFFF;
  margin: 0 5px 0 5px;
  transition: 0.4s;
}

.icon-container 
.social-icon:hover {
  color: lightblue;
  transform: translateY(-4px)
}