@import "utilities/variables";

#projects {
  padding-top: $section-margin;
  padding-bottom: $section-margin;

  .projects-title {
    font-size: $large;
    text-align: left;
    color: $app-color;
  }

  .project-wrapper {
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
    max-width: 300px;
    height: auto;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    vertical-align: middle;
    // the github logo
    .bin {
      position: absolute;
      transition: 0.3s ease;
      transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      color:white;
      text-align: center;
      width: auto;
      max-width:200px;
      height: auto;
      &:hover {
        opacity: 1;
      }
    }
    a {
      backface-visibility: hidden;
      text-decoration: none;
      background-color: transparent !important;
      color: currentColor;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.1;
      }
      .project {
        border: 2px solid $app-color !important;
        // width: auto;
        // max-width: 300px;
        // height: auto;
        .project-body {
          background-color: $app-color !important;
          .project-title {
            font-weight: bold;
            text-align: center;
            font-size: $medium;
            color: white;
          }
          .project-description {
            text-align: left;
            hyphens: auto;
            color: whitesmoke;
            font-size: $small;
          }
        }
      }
    }
  }
}


