@import "utilities/variables";

#projects {
  padding-top: 200px;
  padding-bottom: 200px;

  .projects-title {
    font-size: $large;
    text-align: left;
    color: $app-color;
  }

  .project-wrapper {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    vertical-align: middle;
    .bin {
      position: absolute;
      transition: 0.3s ease;
      transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      color:white;
      text-align: center;
      &:hover {
        opacity: 1;
      }
    }
    a {
      // backface-visibility: hidden;
      text-decoration: none;
      background-color: transparent !important;
      color: currentColor;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.1;
      }

      .project {
        border: 2px solid $app-color !important;
        width: 300px;
        .project-body {
          background-color: $app-color !important;
          .project-title {
            font-weight: bold;
            font-size: $medium;
            color: white;
          }
          .project-description {
            color: whitesmoke;
            font-size: $small;
          }
        }
      }
    }
  }
}


