@import "utilities/variables";

#work {
  padding-top: 200px;
  padding-bottom: 200px;
}

.work-position {
  text-decoration: underline $app-color;
  font-size: $medium;
  padding-left: 20px;
}

.work-position-date {
  font-size: $small;
  padding-left: 20px;
}

.work-title {
  font-size: $large;
  white-space: nowrap;
  color: $app-color;
  text-align: left;
}

.work-tab {
  margin-bottom: 4px;
  transition: 0.4s;
  border-left: 1px solid transparent
}

.work-tab:hover {
  border-left: 1px solid white;
}

.work-name {
  background-color: white;
  color: $app-color;
  border-right: none;
  font-size: $small;
  border-left: none;
  transition: 0.4s;
  outline: none;
  white-space: nowrap;
  border-radius: 0 !important;
}

.work-name:hover {
  background-color: $app-color !important;
  color: white !important;
  filter: brightness(70%)
}

.work-name.active {
  background-color: $app-color !important;
  color: white !important;
}

.tab-content {
  word-wrap: break-word;
  font-size: $medium;
  text-align: left;
  color: white;
}