@import "utilities/variables";

#work {
  padding-top: 200px;
  padding-bottom: 300px;
}

.work-position {
  text-shadow: 1px 1px cornflowerblue;
  padding-left: 20px;
}

.work-title {
  font-size: 2rem;
  white-space: nowrap;
  color: $app-color;
  text-align: left;
}

.work-name {
  border-right: none;
  border-left: none;
  transition: 0.4s;
  outline: none;
  white-space: nowrap;
  border-radius: 0 !important;
}

.work-tab {
  margin-bottom: 4px;
  transition: 0.4s;
  border-left: 1px solid transparent
}

.work-tab:hover {
  border-left: 1px solid white;
}

.work-name {
  background-color: white;
  color: $app-color;
}

.work-name:hover {
  background-color: $app-color !important;
  color: white !important;
  filter: brightness(70%)
}

.work-name.active {
  background-color: $app-color !important;
  color: white !important;
}

.tab-content {
  word-wrap: break-word;
  text-align: left;
  color: white;
}